/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 */


input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea {
  @include box-shadow(none);
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus {
  border-color: $gray;
  @include box-shadow(0 0 5px #999);
}

.checkbox label {
  padding: 0;
}

/* Button */
.btn {
  border: none;
  background-color: $blue-light-font;
  color: $white;
  outline: none;
  &:hover {
    background-color: $blue;
    color: $white;
  }
  &:focus,
  &:active,
  &:focus {
    &:active {
      background-color: $blue-light-font;
      color: $white;
    }
  }
}
/* End */

/* Alert */
.alert {
  @include border-radius(0);
}
/* End */

/* Custom Checkbox design */
.input-rc {
  display: inline-block;
  input[type='checkbox'] {
    display: none;
    opacity: 0;
    + .input-rc-span {
      float: left;
      display: inline-block;
      height: 18px;
      width: 18px;
      margin: 0 10px -2px 0;
      background-image: url('../images/checkbox-unchecked.png');
      background-repeat: no-repeat;
      cursor: pointer;
      content: '';
    }
    &:checked + .input-rc-span {
      background-image: url('../images/checkbox-checked.png');
      background-repeat: no-repeat;
    }
  }
}
/* End */


/**
 * Register page
 */
.page-user-register,
.page-user-login,
.page-user-password {
  .tabs--primary.nav-tabs {
    display: none;
  }
  h1.page-header {
    display: none;
  }
}
#user-register-form,
#user-login,
#user-profile-form {
  display: inline-block;
  width: 100%;
  border: 1px solid $border-cont;
  .register-text {
    margin: -1px -1px 20px;
    padding: 12px 18px;
    border: 1px solid $border;
    background-color: $gray-light-f4;
    font-size: 12px;
  }
  .form-item {
    max-width: 540px;
    width: 100%;
    margin: 0 0 20px;
    padding: 0 20px;
    .form-item {
      margin: 0;
      padding: 0;
    }
    > .row {
      margin: 0;
    }
    > .control-label {
      margin: 10px 0 0;
      font-weight: normal;
    }
  }
  fieldset {
    &.form-wrapper {
      max-width: calc(100% - 40px);
      width: 100%;
      margin: 0 20px 20px;
      padding: 0;
    }
  }
  .field-name-field-news-topics {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    > .form-item {
      float: left;
      width: 100%;
    }
    .control-label {
      width: 100%;
      margin: 0 0 20px;
      font-size: 12px;
      font-weight: normal;
    }
    .form-checkboxes {
      .form-item {
        float: left;
        width: 50%;
        margin: 0 0 10px;
        label {
          float: left;
          width: 100%;
          margin: 0;
          padding: 0;
          font-size: 14px;
        }
      }
    }
  }
  .register-container {
    .form-item {
      > .row {
        margin: 0;
        .form-item {
          clear: none;
          width: -webkit-calc(50% - 15px);
          width: -moz-calc(50% - 15px);
          width: calc(50% - 15px);
          margin: 0 30px 0 0;
          padding: 0;
          &.form-item-pass-pass2 {
            margin-right: 0;
          }
        }
      }
    }
  }
  .form-actions {
    float: left;
    width: auto;
    margin: 0;
    padding: 0 0 20px 20px;
    .btn {
      padding: 10px 30px;
      border: none;
      background-color: $blue-light-font;
      color: $white;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .register-bottom-text {
    float: left;
    width: auto;
    padding: 0 20px;
    font-size: 12px;
    span {
      float: left;
      clear: left;
    }
    a {
      color: $blue-light-font;
    }
  }
}
.login-form {
  .help-block {
    display: none;
  }
  .form-item {
    display: inline-block;
  }
  .login-left {
    float: left;
    width: 50%;
    margin: 30px 0;
    padding: 0 80px 0 0;
    border-right: 1px solid $gray;
    input[type='text'],
    input[type='email'],
    input[type='password'] {
      float: right;
      max-width: 270px;
    }
    .login-title {
      float: right;
      clear: both;
      width: 100%;
      margin: 0 0 10px;
      color: $gray;
      font-size: 12px;
      text-align: right;
    }
    .form-item {
      margin-bottom: 15px !important;
      padding-right: 0 !important;
      .control-label {
        float: left;
        width: 90px;
      }
    }
    .form-required { color: #F00; }
    #edit-submit {
      float: right;
      max-width: 270px;
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      line-height: normal;
    }
    .forget-links {
      float: left;
      width: 100%;
      margin: 30px 0 0;
      text-align: right;
      a {
        color: $blue-light-font;
      }
    }
  }
  .login-right {
    float: left;
    width: 50%;
    margin: 30px 0;
    padding: 0 0 0 80px;
    .register-free {
      a {
        color: $blue-light-font;
        font-size: 16px;
      }
    }
  }
}
