/**
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */


/* Import of variables created for site */
@import 'globals/variable';
@import 'globals/header';
@import 'globals/sidebar';
@import 'globals/footer';
@import 'components/fonts';
@import 'layout/forms';


/**
 * Common code
 */
body {
  color: $black;
  font-size: 12px;
  font-family: $tahoma-regular;
}

a {
  color: $blue-font;
  outline: none;
  &:hover { color: $link-hover; }
  &:focus { outline: none; }
}

.p0 { padding: 0; }
.m0 { margin: 0; }

/* Typography */
.green-text { color: $green-font; }
.blue-text { color: $blue-font; }
/* End */

/* Quotedesign */
.quote {
  float: left;
  width: 100%;
  font-size: 22px;
  line-height: 50px;
  &::before,
  &::after {
    display: inline-block;
    height: 11px;
    width: 14px;
    margin: 0 24px 12px 0;
    background-image: url('../images/quote-start-orange.png');
    content: '';
  }
  &::after {
    margin: 0 0 12px 24px;
    background-image: url('../images/quote-end-orange.png');
  }
}
.quote-author {
  clear: both;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0 40px 0 0;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  text-align: right;
  &::before {
    display: inline-block;
    content: '-';
  }
}
/* End */



/**
 * Main menu
 */
#block-system-main-menu {
  clear: both;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  > .block-title {
    display: none;
  }
  ul.menu {
    float: left;
    display: block;
    max-height: 41px;
    width: 100%;
    li {
      float: left;
      &:nth-child(1) { display: none; }
      &:nth-child(2) {
        &.active a {
          &::after { background-color: #3383CC; }
        }
        a {
          max-width: 126px;
          width: 126px;
          &:hover { /*border-top-color: #3383CC; @include box-shadow(0 1px 0 0 #3383CC inset);*/ }
          &::before {
            width: 14px;
            background-image: url('../images/my-page-icon.png');
          }
          &::after { background-color: #3383CC; }
        }
      }
      &:nth-child(3) {
        &.active a {
          &::after { background-color: #36BDD9; }
        }
        a {
          max-width: 128px;
          width: 128px;
          &:hover { /*border-top-color: #36BDD9; @include box-shadow(0 1px 0 0 #36BDD9 inset);*/ }
          &::before {
            width: 23px;
            background-image: url('../images/news-icon.png');
          }
          &::after { background-color: #36BDD9; }
        }
      }
      &:nth-child(4) {
        &.active a {
          &::after { background-color: #D936D8; }
        }
        a {
          max-width: 161px;
          width: 161px;
          &:hover { /*border-top-color: #D936D8; @include box-shadow(0 1px 0 0 #D936D8 inset);*/ }
          &::before {
            width: 20px;
            background-image: url('../images/press-release-icon.png');
          }
          &::after { background-color: #D936D8; }
        }
      }
      &:nth-child(5) {
        &.active a {
          &::after { background-color: #F8991D; }
        }
        a {
          max-width: 122px;
          width: 122px;
          &:hover { /*border-top-color: #F8991D; @include box-shadow(0 1px 0 0 #F8991D inset);*/ }
          &::before {
            width: 15px;
            background-image: url('../images/blog-icon.png');
          }
          &::after { background-color: #F8991D; }
        }
      }
      &:nth-child(6) {
        &.active a {
          &::after { background-color: #36D938; }
        }
        a {
          max-width: 143px;
          width: 143px;
          &:hover { /*border-top-color: #36D938; @include box-shadow(0 1px 0 0 #36D938 inset);*/ }
          &::before {
            width: 9px;
            background-image: url('../images/perspectives-icon.png');
          }
          &::after { background-color: #36D938; }
        }
      }
      &:nth-child(7) {
        &.active a {
          &::after { background-color: #F8E21C; }
        }
        a {
          max-width: 127px;
          width: 127px;
          &:hover { /*border-top-color: #F8E21C; @include box-shadow(0 1px 0 0 #F8E21C inset);*/ }
          &::before {
            width: 15px;
            background-image: url('../images/upload-icon.png');
          }
          &::after { background-color: #F8E21C; }
        }
      }
      &:nth-child(8) {
        &.active a {
          &::after { background-color: #B48864; }
        }
        a {
          max-width: 163px;
          width: 163px;
          &:hover { /*border-top-color: #B48864; @include box-shadow(0 1px 0 0 #B48864 inset);*/ }
          &::before {
            width: 18px;
            background-image: url('../images/search-icon.png');
          }
          &::after { background-color: #B48864; }
        }
      }
      /* Last child */
      &:last-child {
        a {
          border-right: 1px solid $border;
        }
      }
      &.active {
        a {
          border-top: 1px solid #3383CC;
          border-bottom: none;
          background-color: $white;
          @include box-shadow(0 1px 0 0 #3383CC inset);
          &:hover {
            background-color: $white;
          }
          &.active {
            &::before {
              background-position: 0 -18px;
            }
            &::after {
              position: absolute;
              float: left;
              top: 0;
              left: 0;
              z-index: 1;
              height: 2px;
              width: -webkit-calc(100% + 2px);
              width: -moz-calc(100% + 2px);
              width: calc(100% + 2px);
              margin: -1px 0 0 -1px;
              content: '';
            }
          }
        }
      }
      a {
        position: relative;
        float: left;
        height: 42px;
        margin: 0;
        padding: 11px 22px;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        border-left: 1px solid $border;
        background-color: $gray-light-f4;
        color: $black;
        font-size: 12px;
        &:hover {
          border-top: 1px solid #3383CC;
          background-color: $gray-light-f4;
          @include box-shadow(0 1px 0 0 #3383CC inset);
          &::before {
            background-position: 0 -36px;
          }
          &::after {
            position: absolute;
            float: left;
            top: 0;
            left: 0;
            z-index: 1;
            height: 2px;
            width: -webkit-calc(100% + 2px);
            width: -moz-calc(100% + 2px);
            width: calc(100% + 2px);
            margin: -1px 0 0 -1px;
            content: '';
          }
        }
        &::before {
          float: left;
          height: 18px;
          width: 18px;
          margin: 0 12px 0 0;
          background-repeat: no-repeat;
          content: '';
        }
      }
    }
  }
}


/**
 * Main content area
 */
.left-sidebar {
  width: 190px;
}
.content-area {
  max-width: 1000px;
  width: 100%;
  padding: 15px;
}

/* Common Content lists */
.content-lists {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid $gray-light-f4;
  line-height: normal;
  .view-header {
    display: inline-block;
    width: -webkit-calc(100% + 2px);
    width: -moz-calc(100% + 2px);
    width: calc(100% + 2px);
    margin: -1px -1px 0;
    padding: 12px 18px;
    border-top: 1px solid $border;
    border-right: 1px solid $border;
    border-bottom: none;
    border-left: 1px solid $border;
    background-color: $gray-light-f4;
    font-size: 12px;
  }
  .view-content {
    display: inline-block;
    width: 100%;
  }
  .content-list {
    position: relative;
    display: inline-block;
    min-height: 170px;
    width: 100%;
    margin: 0;
    padding: 20px 10px 10px 94px;
    border-top: 1px solid $gray-light-f4;
    &:last-child {
      border-bottom: none;
    }
    .views-field-php {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      width: 94px;
      text-align: left;
      .field-content {
        display: inline-block;
        padding: 3px 0 0 15px;
        color: #E5E5E5;
        font-size: 80px;
        line-height: normal;
        font-family: verdana;
      }
    }
    .views-field-created {
      display: inline-block;
      width: 100%;
      margin: 0 0 5px;
      .field-content {
        color: #F07A22;
        font-size: 10px;
        &::before {
          display: inline-block;
          height: 10px;
          width: 10px;
          margin: 0 8px -1px 0;
          background-image: url('../images/time-watch.png');
          background-repeat: no-repeat;
          background-size: 10px 10px;
          content: '';
        }
      }
    }
    .views-field-title,
    .views-field-php-1 {
      display: inline-block;
      width: 100%;
      margin: 0 0 5px;
      .field-content {
        a {
          font-size: 16px;
        }
      }
    }
    .views-field-body {
      display: inline-block;
      width: 100%;
      margin: 0 0 10px;
      color: #505050;
      font-size: 14px;
    }
    .views-field-field-alpha-news-topics,
    .views-field-field-company-tag,
    .views-field-sharethis {
      display: inline-block;
      width: 100%;
      margin: 0 0 5px;
      .views-label {
        float: left;
        width: 94px;
        color: #B3B3B3;
        font-size: 12px;
      }
      .field-content {
        float: left;
        color: $blue-font;
        font-size: 12px;
      }
    }
    .views-field-sharethis {
      margin-top: 3px;
      .views-label {
        float: left;
      }
      .field-content {
        .sharethis-wrapper {
          float: left;
          > span {
            float: left;
            margin: 0;
            padding: 0;
            > span {
              float: left;
              width: auto !important;
              margin: 0;
              padding: 0;
            }
          }
          .chicklets {
            height: 15px;
            width: 15px;
            margin: 0 25px 0 0;
            padding: 0;
            background-position: center;
            background-repeat: no-repeat;
          }
          .linkedin { background-image: url('../images/linkedin-sm.png'); }
          .facebook { width: 8px; background-image: url('../images/facebook-sm.png'); }
          .twitter { width: 14px; background-image: url('../images/twitter-sm.png'); }
          .googleplus { width: 22px; background-image: url('../images/google-plus-sm.png'); }
          .email { width: 20px; background-image: url('../images/email-sm.png'); }
        }
        .flag-saved-articles {
          float: left;
          a {
            float: left;
            height: 16px;
            width: 15px;
            margin: 0 15px 0 0;
            background-image: url('../images/star-blank-sm.png');
            background-position: center;
            background-repeat: no-repeat;
            text-indent: -9999px;
            &.flag-action {
              background-image: url('../images/star-sm.png');
            }
          }
          .flag-throbber {
            float: left;
            width: auto;
          }
        }
      }
    }
    .views-field-ops {
      display: inline-block;
      width: 100%;
    }
  }
}
.page-my-page {
  .content-lists {
    .view-header {
      padding: 5px 18px;
      border-bottom: 1px solid $border;
      .pg-number {
        display: inline-block;
        width: 65px;
        padding: 7px 0;
        color: $gray-69;
        font-size: 14px;
      }
      .main-link-container {
        display: inline-block;
        padding: 7px 0;
        .tracked-news {
          display: inline-block;
          &.active {
            a {
              color: $gray-69;
            }
          }
          a {
            display: inline-block;
            padding: 0 10px;
            border-right: 1px solid $gray-69;
            font-size: 14px;
            line-height: 14px;
          }
          &:last-child a {
            border: none;
          }
        }
      }
      .view-filters {
        float: right;
        .views-exposed-widgets {
          margin: 0;
          .views-exposed-widget {
            padding: 0;
            label {
              display: inline-block;
              padding-right: 15px;
              color: $gray-69;
              font-size: 14px;
              font-weight: normal;
              text-transform: capitalize;
            }
            .views-widget {
              display: inline-block;
              .form-type-select {
                position: relative;
                &::before {
                  position: absolute;
                  top: 15px;
                  right: 15px;
                  bottom: 0;
                  left: auto;
                  z-index: 1;
                  height: 7px;
                  width: 10px;
                  border: none;
                  background: url('../images/gray-down-arrow.png');
                  background-position: center center;
                  background-repeat: no-repeat;
                  content: '';
                }
                select {
                  padding-right: 30px;
                  border: 1px solid $blue-light-font;
                  background-color: #ECF4FD;
                  color: $gray-69;
                  @include border-radius(0);
                  @include appearance(none);
                  @include box-shadow(0 0 0);
                }
              }
            }
          }
        }
        .help-block {
          display: none;
        }
      }
    }
  }
}
/* End */


/**
 * Welcome page
 */
.page-welcome {
  .top-header {
    display: none;
  }
  #navbar {
    display: none;
  }
  h1.page-header {
    display: none;
  }
  .main-container {
    width: 1200px;
  }
  .content-area {
    max-width: 100%;
    width: 100%;
  }
}

/* Continue to site */
#block-block-3 {
  display: inline-block;
  width: 100%;
  margin: 15px 0 20px;
  a {
    float: right;
    padding: 16px 28px 16px 42px;
    background-color: $blue;
    color: $white;
    font-size: 22px;
    line-height: normal;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    @include border-radius(5px);
    &::after {
      display: inline-block;
      height: 21px;
      width: 20px;
      margin: 0 0 0 30px;
      background-image: url('../images/arrow-right-white.png');
      content: '';
    }
  }
  .after-15 {
    float: right;
    clear: right;
    margin: 13px 0 0;
    color: $gray-64;
    font-size: 12px;
  }
}

/* MortgageSpeak */
#block-mortgage-landing-randomtext {
  float: left;
  width: 31%;
  padding: 0 20px 0 0;
  line-height: normal;
}
.quote-main-container {
  float: left;
  width: 100%;
  color: $gray-64;
  text-align: center;
  h2 {
    float: left;
    width: 100%;
    margin: -5px 0 0;
    color: $blue;
    font-size: 34px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
  }
  span {
    float: left;
    width: 100%;
    margin: 30px 0 70px;
    font-size: 36px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  .quote {
    padding: 0 30px;
    letter-spacing: 1px;
    text-align: left;
  }
  .quote-author {
    clear: both;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 40px 0 0;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    text-align: right;
  }
}

/* Advertisement */
#block-block-7,
#block-randomblocks-press-perpesctive {
  position: relative;
  display: inline-block;
  height: 90px;
  max-width: 970px;
  width: 100%;
  margin: 0 0 22px;
  &::before {
    position: absolute;
    float: right;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    height: 5px;
    width: 83px;
    margin: 0 0 -11px;
    background-color: #000;
    background-image: url('../images/advertisement.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: '';
  }
}
#block-block-2 {
  float: left;
  width: 68%;
  margin: 0 0 0 1%;
  background-color: #696B6F;
  .ai-node-body-top-banner {
    border: 1px solid $gray-69;
    background-color: $gray-69;
  }
}
.ai-node-body-top-banner {
  display: inline-block;
  height: 90px;
  max-width: 970px;
  width: 100%;
  margin: 0 !important;
  background-color: $gray-light;
}
