/**
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */


/* Import of variables created for site */
@import 'globals/variable';
@import 'globals/header';
@import 'globals/sidebar';
@import 'globals/footer';
@import 'components/fonts';
@import 'layout/forms';
/* Import to provide cross-browser mixins for CSS properties introduced in CSS3 */
//@import 'compass/css3';


/**
 * Common code
 */
.p0 { padding: 0; }
.m0 { margin: 0; }

/* Typography */
.green-text { color: $green-font; }
.blue-text { color: $blue-font; }
/* End */


/**
 * Main content area
 */
.content-area {
  padding: 15px;
}

