/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

$assets-path: '../..';
/* Import to basic elements created for site */
@import '../components/fonts';
@import 'variable';


/**
 * Footer design
 */
.footer {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  margin: -20px 0 0;
  padding: 0 0 0 205px;
  border: none;
  background-color: #8E8E8E;
  color: $white;
  .region-footer {
    display: inline-block;
    max-width: 970px;
    width: 100%;
    padding: 30px;
    color: $gray-light-f4;
  }
}
