/**
 * @file
 * SCSS file to generate CSS.
 *
 * Sidebar SCSS.
 */


$assets-path: '../..';
/* Import to basic elements created for site */
@import '../components/fonts';
@import 'variable';


/**
 * Left sidebar
 */
.left-sidebar {
  width: 190px;
  border-right: 1px solid $border;
  border-bottom: none;
  background-color: $gray-light-f4;
  &.p0 { padding-bottom: 30px; }
  .well {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @include border-radius(0);
    @include box-shadow(none);
  }
}
/* Left navigation button */
.left-navbtn {
  display: none;
}
@media screen and (max-width: $mobile) {
  .left-sidebar-wrap {
    position: relative;
    clear: left;
    /* Left navigation button */
    .left-navbtn {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      display: inline-block;
      margin: 10px 0 0 15px;
      font-size: 24px;
      content: '';
      @include transition(all .5s ease 0s);
      &.inner-btn {
        left: 140px;
        z-index: 1002;
        margin-top: 9px;
        @include transition(all .5s ease 0s);
        &.right-arrow { @include transform(rotate(0deg)); }
        &.left-arrow { @include transform(rotate(180deg)); }
      }
      &:hover {
        text-decoration: none;
      }
    }
    /* Left sidebar overlay */
    .left-sidebar-overlay {
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 1000;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
      @include transition(all 1s ease 0s);
      &.left-sidebar-overlay-show { left: 0; }
    }
    /* Left sidebar */
    .left-sidebar {
      position: fixed;
      top: 0;
      left: -190px;
      z-index: 2000;
      display: inline-block;
      min-height: 100% !important;
      height: 100%;
      margin-left: 0;
      overflow-y: auto;
      visibility: hidden;
      @include transition(all .5s ease 0s);
      &.open-sidebar {
        left: 0;
        visibility: visible;
        @include box-shadow(-4px 0 10px 0 rgba(0, 0, 0, .8));
      }
      @media screen and (max-width: $mobile-sm) {
        @include transition(none);
      }
    }
  }
} /* 767 */

/* Logo section */
#block-block-1 {
  float: left;
  display: block;
  width: 100%;
  margin: 0 0 -1px;
  background-color: $white;
}
.main-logo-container {
  float: left;
  display: inline-block;
  width: 100%;
  padding: 12px 8px 0;
  border-bottom: 1px solid $border;
  .logo-left {
    float: left;
    width: 65px;
    .logo {
      img {
        float: left;
        height: 65px;
        width: 65px;
      }
    }
  }
  .logo-right {
    float: left;
    width: 108px;
    padding: 0 0 0 8px;
    a {
      font-size: 11px;
    }
    .user-welcome {
      float: left;
      height: 41px;
      width: 94px;
      margin: -3px 0 2px;
      font-size: 14px;
      span {
        display: inline-block;
        width: 100%;
        /*overflow: hidden;*/
        color: #888;
        font-size: 14px;
        line-height: normal;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        /*text-overflow: ellipsis;
        white-space: nowrap;*/
        word-wrap: break-word;
        a {
          display: inline-block;
          width: 100%;
          margin-top: 2px;
          color: $blue-font;
          font-size: 14px;
          text-decoration: none;
          &::after {
            position: relative;
            float: right;
            height: 13px;
            width: 13px;
            margin: 0;
            padding: 0;
            /*background-image: url('../images/question-mark.png');*/
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            content: '';
            @include border-radius(3px);
          }
          span {
            float: right;
            color: $blue-font;
            line-height: 18px;
          }
        }
      }
    }
    .regi-link {
      float: left;
      width: 94px;
      margin: 0 0 9px;
      .register-link {
        float: left;
        width: 100%;
      }
      span {
        float: left;
        width: auto;
        a {
          float: left;
          margin: 0 11px 0 0;
          padding: 0 11px 0 0;
          border-right: 1px solid $gray;
          line-height: 10px;
        }
        &:last-child {
          float: right;
          a {
            margin: 0;
            padding: 0;
            border-right: none;
          }
        }
      }
    }
    .login-link {
      float: left;
      width: 100px;
      margin-bottom: 13px;
      .client-login {
        display: inline-block;
        width: 100%;
        padding: 4px 8px;
        border: 1px solid #498BF4;
        border-radius: 3px;
        background-color: #498BF4;
        background-image: url('../images/horizontal-divider.png');
        background-position: 44px center;
        background-repeat: no-repeat;
        color: #FFF;
        font-size: 12px;
        line-height: normal;
        font-family: arial;
        text-align: center;
        /*&:hover {
          background: #F4F4F4;
          color: #333;
        }*/
        a {
          /*padding: 0 4px 0 1px;*/
          /*border-right: 1px solid rgba(255, 255, 255, .4);*/
          color: #FFF;
          line-height: 12px;
          text-decoration: none;
          &:first-child {
            position: relative;
            right: 5px;
            bottom: 1px;
          }
          &:last-child {
            position: relative;
            bottom: 1px;
            left: 5px;
            border-right: none;
          }
          &:hover {
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
      .logout-text {
        a {
          display: inline-block;
          width: 100%;
          padding: 4px 0;
          border: 1px solid #498BF4;
          border-radius: 4px;
          background: #498BF4;
          color: #FFF;
          font-size: 12px;
          line-height: normal;
          font-family: arial;
          text-align: center;
          &:hover {
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
  .top-day {
    display: inline-block;
    width: 65px;
    margin-top: 5px;
    color: #333;
    font-size: 31px;
    font-weight: 400;
    font-family: arial;
    letter-spacing: 1px;
  }
  .top-left-date {
    float: left;
    display: inline-block;
    width: auto;
    color: #777;
    .top-month-yr {
      display: inline-block;
      width: 35px;
      font-size: 13px;
      line-height: 14px;
      text-transform: uppercase;
      span {
        display: inline;
        width: 100%;
      }
    }
  }
  .total-content {
    float: right;
    display: inline-block;
    width: 57px;
    padding: 5px 0;
    border-radius: 3px;
    background-color: #F08080;
    color: #FFF;
    font-size: 12px;
    font-family: arial;
    text-align: center;
  }
}
.logged-in .main-logo-container .logo-right .user-welcome span a::after {
  display: none;
}
/* End */

/* Menu links */
#block-views-news-groups-sidebar-term-block {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  .block-title {
    margin: 0;
    padding: 11px 10px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    background-color: $white;
    /*color: $blue-font;*/
    font-size: 16px;
  }
  .view {
    float: left;
    width: 100%;
    .view-content {
      float: left;
      width: 100%;
      padding: 0 0 0 10px;
      /*background-color: $gray-light-f4;*/
      .views-row {
        float: left;
        width: 100%;
        a {
          float: left;
          width: 100%;
          padding: 11px 5px;
          border-bottom: 1px solid $border;
          color: $blue-font;
          font-size: 14px;
          &:hover { color: $link-hover; }
          &.active {
            width: -webkit-calc(100% + 11px);
            width: -moz-calc(100% + 11px);
            width: calc(100% + 11px);
            margin: -1px 0 0 -10px;
            padding-left: 15px;
            border-top: 1px solid $border;
            background-color: $white;
            color: $link-hover;
          }
        }
      }
    }
  }
}
/* End */

/* Advertise Block */
#block-block-9,
#block-block-10,
#block-block-11,
#block-block-12 {
  clear: both;
  margin: 16px 0 0;
  padding: 0;
  /*background-color: $gray-light-f4;*/
  text-align: center;
}
/* End */
