/**
 * @file
 * SCSS file to generate CSS.
 *
 * Sidebar SCSS.
 */


$assets-path: '../..';
/* Import to basic elements created for site */
@import '../components/fonts';
@import 'variable';


/**
 * Left sidebar
 */
.left-sidebar {
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;
  background-color: $white;
  .well {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @include border-radius(0);
    @include box-shadow(none);
  }
}

/* Logo section */
#block-block-1 {
  float: left;
  display: block;
  width: 100%;
  margin: 0 0 -1px;
}
.main-logo-container {
  float: left;
  display: inline-block;
  width: 100%;
  padding: 10px 8px;
  border-bottom: 1px solid $border;
  .logo-left {
    float: left;
    .logo {
      img {
        float: left;
        height: 65px;
        width: 65px;
      }
    }
  }
  .logo-right {
    float: left;
    width: 94px;
    padding: 0 0 0 8px;
    a {
      font-size: 11px;
    }
    .user-welcome {
      float: left;
      width: 94px;
      margin: 0 0 3px;
      font-size: 14px;
    }
    .regi-link {
      float: left;
      width: 94px;
      margin: 0 0 7px;
      .register-link {
        float: left;
        width: 100%;
      }
      span {
        float: left;
        width: auto;
        a {
          float: left;
          margin: 0 11px 0 0;
          padding: 0 11px 0 0;
          border-right: 1px solid $gray;
          line-height: 10px;
        }
        &:last-child {
          float: right;
          a {
            margin: 0;
            padding: 0;
            border-right: none;
          }
        }
      }
    }
    .login-link {
      float: left;
      width: 94px;
      a {
        float: left;
        width: 100%;
        padding: 3px 0;
        border: 1px solid #86898D;
        color: #86898D;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        @include background(#FBFBFB, #F4F4F4, #EEE, #E8E8E8);
        &:hover {
          background: #F4F4F4;
          color: #333;
        }
        &:focus {
          background: #E8E8E8;
        }
      }
    }
  }
}
/* End */

/* Menu links */
#block-views-news-groups-sidebar-term-block {
  float: left;
  width: 100%;
  .block-title {
    margin: 0;
    padding: 12px 10px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    font-size: 16px;
  }
  .view {
    float: left;
    width: 100%;
    .view-content {
      float: left;
      width: 100%;
      padding: 0 0 0 10px;
      background-color: $gray-light;
      .views-row {
        float: left;
        width: 100%;
        a {
          float: left;
          width: 100%;
          padding: 5px;
          border-bottom: 1px solid $border;
          color: $black;
          font-size: 14px;
          &:hover { color: $link-hover; }
        }
        &:last-child {
          a { border-bottom: none; }
        }
      }
    }
  }
}
/* End */
